<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="images/logo.png" alt="logo"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item @@home">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#what-is-honestore">Que és Honestore
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#for-shops">Para tiendas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#key-aspects">Valores
          </a>
        </li>
        <li class="nav-item @@about">
          <a class="nav-link" href="about.html">Para tiendas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>